.form-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  justify-content: space-around;
}

.form-row-input {
  background-color: #1b1b1d;
  color: white;
  padding: 8px;
  border-radius: 8px;
  height: 32px;
}

.form-row-error {
  color: red;
  font-size: 11px;
}
