.home-text {
  font-size: 16px;
  text-justify: inter-word;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.text-with-picture {
  display: flex;
  align-items: center;
  gap: 16px;
}

.all-in-one {
  background: -webkit-linear-gradient(left, rgba(63, 94, 251, 1), rgba(252, 70, 107, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.fade-in-medium {
  animation: fade 3s linear;
}

.fade-in-fast {
  animation: fade 1s linear;
}

.fade-in-slow {
  animation: fade 4s linear;
}

@keyframes fade {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
